<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carbon Capture 2.0</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>

<h1 class="center-text"> Carbon Capture Project</h1>
<p class="center-text">By: Rob-sensei</p>

<a href="{{url_for('charts')}}">
    <img src="{{url_for('static', filename='charts_button.png')}}" alt="Charts Button" class="center">
</a>

<a href="{{url_for('info')}}">
    <img src="{{url_for('static', filename='info_button.png')}}" alt="Info button" class="center">
</a>

<a href="https://github.com/robcruz088">
    <img src="{{url_for('static', filename='github_button.png')}}" alt="Github Button" class="center">
</a>

</body>
</html>

<!--
      _
    >(.)__
     (___/
-->